input[type=text]
	margin 2px
	border-width 1px 1px 1px 1px
	border-color rgba(0, 0, 0, 0.20) rgba(0, 0, 0, 0.20) alpha(inputColor, 30%) rgba(0, 0, 0, 0.20)	
	padding inputTopPadding inputRightPadding inputBottomPadding inputLeftPadding
	font-size 16px
	box-shadow unquote(lookup("elevationHelper-" + inputElevation))
	
	for color in colors
		&.{color[0]}
			border-color rgba(0, 0, 0, 0.20) rgba(0, 0, 0, 0.20) alpha(color[1], 30%) rgba(0, 0, 0, 0.20)
			
			&:focus
				border-color rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.30) alpha(color[1], 80%) rgba(0, 0, 0, 0.30)	
				outline none

	&:focus
		padding inputTopPadding inputRightPadding -1+inputBottomPadding inputLeftPadding
		border-width 1px 1px 2px 1px
		border-color rgba(0, 0, 0, 0.30) rgba(0, 0, 0, 0.30) alpha(inputColor, 80%) rgba(0, 0, 0, 0.30)	
		outline none
		
.input.group
	&>input, &>.button
		margin-left 0
		margin-right 0
		margin-top 0
		margin-bottom 0
	
	&>input:not(:last-child)
		border-right-width 0
		
	&.fluid
		width 100%
		position relative
		display flex
		
		&>input
			flex 1 1 10%
			
		&>.button
			flex-grow 0
			self-align top