.menu
	position relative
	width auto
	height auto
	display inline-block
	position relative
	
	&>.item
		background-color menuColor
		padding menuItemTopPadding menuItemRightPadding menuItemBottomPadding menuItemLeftPadding
		user-select none
		cursor pointer
		height menuAreaHeight
		
		&:hover
			background-color menuItemHoverFunction(menuColor)
		
	for color in colors
		&.{color[0]}
			background-color color[1]
			
		&.{color[0]}.area>.header
			background-color color[1]

		&.{color[0]}>.item
			background-color color[1]
							
			&:hover, &.active
				background-color menuItemHoverFunction(color[1])

	&.area
		padding 0
		width 100%
		display table
		max-height menuAreaHeight

		&>.header
			position relative
			background-color menuColor
			display inline-block
			height menuAreaHeight
			padding -4+menuItemTopPadding menuItemRightPadding 0 menuItemLeftPadding
			vertical-align middle

		&>.item
			margin 0
			display inline-block
					
		&.responsive
			display block

			&>.item
				display block
				
			&>.toggle
				display inline-block
				vertical-align middle
				
				&.right
					padding -4+menuItemTopPadding menuItemRightPadding 0 menuItemLeftPadding
					position absolute 
					right 20px
				
			&.active
				max-height 300px
				
				&>.toggle
					opacity 1
				
			&:not(.active)
				max-height menuAreaHeight
					
				&>.toggle
					opacity 0
					
					&.visible
						opacity 1	
				
			@media (min-width: 992px)
				&
					display table
					height menuAreaHeight
					
					&:not(.active)>.item
						height auto
						padding menuItemTopPadding menuItemRightPadding menuItemBottomPadding menuItemLeftPadding
					
					&>.item
						display: inline-block
						
					&::before
						display none
						
					&.active>.toggle
						opacity 0	
						
						&.visible
							opacity 1