  @font-face 
  font-family ptSans
  font-style normal
  font-weight 400
  src local('PT Sans'), local('PTSans-Regular'), url(fonts/PT_Sans-Web-Regular.ttf)
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family ptSans
  font-style normal
  font-weight 700
  src local('PT Sans Bold'), local('PTSans-Bold'), url(fonts/PT_Sans-Web-Bold.ttf)
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family ptSans
  font-style italic
  font-weight 400
  src local('PT Sans Italic'), local('PTSans-Italic'), url(fonts/PT_Sans-Web-Italic.ttf)
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face 
  font-family ptSans
  font-style italic
  font-weight 700
  src local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(fonts/PT_Sans-Web-BoldItalic.ttf)
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face 
  font-family materialIcons
  font-style normal
  font-weight 400
  src url(fonts/MaterialIcons-Regular.eot) /* For IE6-8 */
  src local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype')